/* search & add widgets style */
.search-Add_widget{
    width: 100%;
    height: 8vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

/* Dashboard style */
.Dashboard{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;    
}
.Dashboard a{
    text-decoration: none;
    color: #050F3C;
    font-size: large;
    font-weight: 700;
}

/* search & add widget input, button style */
.search-Add_widget .search-add{
    width: 50vh;
    display: flex;
    justify-content: space-evenly;
   
}

.search-Add_widget .search-add input{
    width: 18em;
    height: 4vh;
    border: 0.25px ridge rgb(122, 121, 121);
    border-radius: 4px;
}

.search-Add_widget .search-add button{
    font-size: 12px;
    height: 4vh;
    color: rgb(70, 65, 65);
    background-color: aliceblue;
    border: 0.15px solid rgb(181, 181, 181);
    border-radius: 6px;
}

.widget{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Resposive Dashboard page */
@media(min-width:100px) and (max-width:700px){
    .search-Add_widget{
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .Dashboard{
        width: 10%;
    }
    .Dashboard a{
        font-size: 11px;
    }

    .search-add{
        display: flex;
        margin-left: 20px;

    }
    
    .search-Add_widget .search-add button{
        font-size: 7px;
        width: 40px;
    }


}