/* widget container box in categories */

.container_box{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 10px;
    width: 30vw;
    height: 25vh;
    margin: 15px;
    padding: 10px;
    
}

/* widget name & text style */
.categories{
    display: flex;
    justify-content: space-between;
    
}

/* widget remove button */
.categories button{
    height: fit-content;
    background-color: transparent ;
    border: hidden;
}
/* hover effect for remove button */
.categories button:hover{
    border: 1px solid rgb(42, 41, 41);
    border-radius: 5px;
    background-color: rgb(254, 254, 254);
}

/* Resposive widget page */

@media only screen and (max-width: 768px) {
    /* For tablets or smaller screens */
    .container_box {
      width: 100%;
      height: 30vh;
      margin: 10px;
      padding: 8px;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones */
    .container_box {
      width: 100%;
      height: 40vh;
      margin: 5px;
      padding: 5px;
    }
  }